@import "tailwindcss";

button {
    cursor: pointer;
    /* animation: pulse 1s infinite; */

}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}